$primary-font: "Source Sans Pro", sans-serif
$normal: 300

$primary-color: #E0562C
$light-grey: #E5E5E5
$lightest-grey: mix($light-grey, white, 20%)
$grey: #7F7F7F
$dark-grey: #464D4E

$width-440: 440px
$horizontal-ratio: "(min-aspect-ratio: 440/520) and (max-width: 550px), (min-aspect-ratio: 550/605) and (max-width: 660px), (min-width: 660px) and (max-height: 710px) "


=high-dppx
  @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (min-resolution: 120dpi)
    @content
